<!DOCTYPE html>
    <html>
        <head>
            <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">
            <title>Bienvenid@s a MercadoLiebre</title>
            <link rel="stylesheet" href="css/estilos.css">
            <link rel="preconnect" href="https://fonts.googleapis.com">
            <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
            <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap" rel="stylesheet">
            <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
            rel="stylesheet" />
        </head>
        <header>
            <div class="contlog">
                <img class="logo" src="/images/logo-mercado-liebre.svg">
            </div>
            <div class="bb">             
                <div class="bb"><p class="whitebackground descripcionbb">Buscar productos  <i class="fas fa-search"></i> </p></div>
            </div>
                
            <div class="descripcioncct">
                Compra en cuotas y sin tarjeta de credito
                <i class="fas fa-hand-holding-usd"></i>
            </div>
            <nav class="contnav descripciones">
                <br>
                <div class="barras">
                <p class="ofertasymas descripciones">
                    <div class="barra1">
                    <a class="descripcionesb1">Ofertas</a><br>
                    <a class="descripcionesb11">Tiendas Oficiales</a><br>
                    <a class="descripcionesb1">Vender</a></li><br>
                    <a class="descripcionesb1">Ayuda</a></li><br>
                </div>
                </p>
                    <div class="barra2">
                    <div class="hiperv1">
                        <a class="descripciones hipervlink" href="/register">Crea tu cuenta <i class="fas fa-id-card"></i></a>
                    </div>
                    <div class="hiperv2">
                        <a class="descripciones hipervlink" href="/login">Ingresa <i class="fas fa-sign-in-alt"></i></a>
                    </div>
                    <div class="hiperv3">
                        <a class="descripciones hipervlink">Mis compras <i class="fas fa-shopping-basket"></i></a>  
                    </div>
                    </div>
                </p>
                </div>
            </nav>
            <div class="ch">
                <i class="fas fa-bars cajahambur"></i>
            </div>
            <div class="fiestas"><img class="ffiestas" src="/images/Image21.27.25.jpeg"></div>
        </header>
        <main>
            <div class="principal">
                
                <h2>Basado en tu última visita</h2>
                <article class="producto">
                    <img class="imgprod" src="/images/img-cafetera-moulinex.jpg">
                    <div class="camion"><i class="fas fa-truck"></i></div>
                    <div class="detalleprod">
                        <div class="precios">$6.770 </div>
                        <div class="descuentos">40% off </div><br>
                        <div class="descripcionart">Cafetera Moulinex</div> <br>   
                    </div>
                </article>
                <article class="producto">
                    <img class="imgprod" src="/images/img-macbook-pro-2019.jpg">
                    <div class="camion"><i class="fas fa-truck"></i></div>
                    <div class="detalleprod">
                        <div class="precios">$230.000 </div>
                        <div class="descuentos">20% off </div><br>
                        <div class="descripcionart">MacBook Pro 2019 </div><br>    
                    </div>
                </article>
                <article class="producto">
                    <img class="imgprod" src="/images/img-samsung-galaxy-s10.jpg">
                    <div class="camion"><i class="fas fa-truck"></i></div>
                    <div class="detalleprod">
                        <div class="precios">$70.500 </div>
                        <div class="descuentos">10% off </div><br>
                        <div class="descripcionart">Samsung Galaxy S10</div><br>    
                    </div>
                </article>
                <article class="producto">
                    <img class="imgprod" src="/images/img-tv-samsung-smart.jpg">
                    <div class="camion"><i class="fas fa-truck"></i></div>
                    <div class="detalleprod">
                        <div class="precios">$23.200 </div>
                        <div class="descuentos">5% off </div><br>
                        <div class="descripcionart">SmartTv Samsung 43" </div><br>
                    </div>
                </article>
            </div>
            <div class="principal">
                <br>
                <h2>Ofertas</h2>
                <article class="producto">
                    <img class="imgprod" src="/images/img-cafetera-moulinex.jpg">
                    <div class="camion"><i class="fas fa-truck"></i></div>
                    <div class="detalleprod">
                        <div class="precios">$6.770 </div>
                        <div class="descuentos">40% off </div><br>
                        <div class="descripcionart">Cafetera Moulinex</div> <br>   
                    </div>
                </article>
                <article class="producto">
                    <img class="imgprod" src="/images/img-macbook-pro-2019.jpg">
                    <div class="camion"><i class="fas fa-truck"></i></div>
                    <div class="detalleprod">
                        <div class="precios">$230.000 </div>
                        <div class="descuentos">20% off </div><br>
                        <div class="descripcionart">MacBook Pro 2019 </div><br>    
                    </div>
                </article>
                <article class="producto">
                    <img class="imgprod" src="/images/img-samsung-galaxy-s10.jpg">
                    <div class="camion"><i class="fas fa-truck"></i></div>
                    <div class="detalleprod">
                        <div class="precios">$70.500 </div>
                        <div class="descuentos">10% off </div><br>
                        <div class="descripcionart">Samsung Galaxy S10</div><br>    
                    </div>
                </article>
                <article class="producto">
                    <img class="imgprod" src="/images/img-tv-samsung-smart.jpg">
                    <div class="camion"><i class="fas fa-truck"></i></div>
                    <div class="detalleprod">
                        <div class="precios">$23.200 </div>
                        <div class="descuentos">5% off </div><br>
                        <div class="descripcionart">SmartTv Samsung 43" </div><br>
                    </div>
                </article>
            </div>                             
        </main>
        <br>
        <footer>
            <article class="artfooter">
                <i class="fas fa-credit-card iconblue"></i>
                <h3>Pagá con tarjeta o en efectivo</h3>
                <h5>Con Mercado Liebre Cash, tenés cuotas sin 
                interés con tarjeta o efectivo en puntos de
                pago. ¡Y siempre es seguro!</h5>
            </article>
            <article class="artfooter">
                <i class="fas fa-gift iconblue"></i>
                <h3>Envío gratis desde $ 2.500</h3>
                <h5>Solo por estar registrad@ en Mercado Liebre
                tenés envíos gratis en miles de productos. Es 
                un beneficio de Mercado Puntos.</h5>
            </article>
            <article class="artfooter">
                <i class="fas fa-user-shield iconblue"></i>
                <h3>Seguridad de principio a fin</h3>
                <h5>
                ¿No te gusta? ¡Devolvelo! En MercadoLiebre
                no hay nada que no puedas hacer porque
                estás siempre protegid@
                </h5>
            </article>
            <p class="copyright">
                Copyright © 1999-2020 MercadoLiebre S.R.L.
            </p>
        </footer>
    </html>